In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [32]:
#read the data
df=pd.read_csv('C:\\Users\\computer\\Documents\\news.csv')

In [33]:
#get head
df.head()

                                           Statement  Label
0  Building a wall on the U.S.-Mexico border will...   True
1  Wisconsin is on pace to double the number of l...  False
2  Says John McCain has done nothing to help the ...  False
3  Suzanne Bonamici supports a plan that will cut...   True
4  When asked by a reporter whether hes at the ce...  False

In [7]:
#get the Labels
Label=df.Label
Label.head()

0     True
1    False
2    False
3     True
4    False
Name: Label, dtype: bool

In [8]:
#get the shape
df.shape

(2551, 2)

In [9]:
x_train,x_test,y_train,y_test=train_test_split(df['Statement'],Label,test_size=0.2,random_state=7)

In [12]:
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)
#DataFlair - Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train) 
tfidf_test=tfidf_vectorizer.transform(x_test)

In [14]:
#DataFlair - Initialize a PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)
#DataFlair - Predict on the test set and calculate accuracy
y_pred=pac.predict(tfidf_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 57.73%

In [17]:
#DataFlair - Build confusion matrix
confusion_matrix(y_test,y_pred, labels=['True','False'])

array([[0, 0],
       [0, 0]], dtype=int64)

In [29]:
df.head(7)

                                           Statement  Label
0  Building a wall on the U.S.-Mexico border will...   True
1  Wisconsin is on pace to double the number of l...  False
2  Says John McCain has done nothing to help the ...  False
3  Suzanne Bonamici supports a plan that will cut...   True
4  When asked by a reporter whether hes at the ce...  False
5  Over the past five years the federal governmen...   True
6  Says that Tennessee law requires that schools ...   True

In [30]:
df.tail()

                                              Statement  Label
2546  For the first time in more than a decade, impo...   True
2547  Says Donald Trump has bankrupted his companies...   True
2548  John McCain and George Bush have "absolutely n...   True
2549  A new poll shows 62 percent support the presid...  False
2550  No one claims the report vindicating New Jerse...  False

In [31]:
df.tail(7)

                                              Statement  Label
2544  More Americans believe the moon landing was fa...   True
2545  In the past two years, Democrats have spent mo...  False
2546  For the first time in more than a decade, impo...   True
2547  Says Donald Trump has bankrupted his companies...   True
2548  John McCain and George Bush have "absolutely n...   True
2549  A new poll shows 62 percent support the presid...  False
2550  No one claims the report vindicating New Jerse...  False